<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.himo.mismascotasfragd">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icons8_hueso_dorado"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MisMascotasFrag">

        <activity
            android:name="com.himo.mismascotasfragd.ContactoActivity"
            android:parentActivityName="com.himo.mismascotasfragd.MainActivity">
            <!-- - soporte para versiones anteriores de 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.himo.mismascotasfragd.MainActivity" />
        </activity>

        <activity
            android:name="com.himo.mismascotasfragd.AcercaDeActivity"
            android:parentActivityName="com.himo.mismascotasfragd.MainActivity">
            <!-- - soporte para versiones anteriores de 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.himo.mismascotasfragd.MainActivity" />
        </activity>

        <activity
            android:name="com.himo.mismascotasfragd.MascotasFavoritasActivity"
            android:parentActivityName="com.himo.mismascotasfragd.MainActivity">
            <!-- - soporte para versiones anteriores de 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.himo.mismascotasfragd.MainActivity" />
        </activity>

        <activity android:name="com.himo.mismascotasfragd.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>